.principale{
      background-color:rgb(241, 233, 229);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.center{
      height: 100%;
      width: 50%;
      background-color: aliceblue;
      padding:0%;
      display: flex;
      justify-content: center;
      align-items: center;

     
}

.table{
     background-color:rgb(255, 255, 255);
      
     
     
}


td, th{
      padding-right:100px;
      padding-left:100px;
      border: 1px solid white;
      font-size: large ;
      text-align: center;
      
}

