.principale{
      background-color:rgb(185, 169, 169);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
     
}

.center{

      height: 100%;
      width: 55%;
      background-color: rgb(255, 255, 255);
      
      

     
}
.container{
      width: 90%;
      background-color: rgb(255, 255, 255);
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      padding-right: 30px;
}

td, th{
     
      padding-left:40px;
      padding-right:40px;
      border: 1px solid white;
      font-size: large ;
      text-align: center;
      
}

.th{
      background-color: rgb(185, 169, 169);
}


#table-prayer{
      
      background-color: rgb(255, 255, 255);
      
     
      
}


#city{
      background-color: rgb(185, 169, 169);
      text-align: center;
      margin-bottom: 30px;
      padding: 30px;
      font-size: 30px;
      font-weight: bold;
      border-radius: 5px;
      font-family: "Inter", serif;

      
}

.written{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: right;
    
}

.place{
      margin-bottom: 10%;
      margin-top:20px ;
}

#placeEnter{
     width: 35%;
     height: 30px;
     border-radius: 5px;
     border: solid 1px rgb(185, 169, 169);
     
}

.search{
      background-color: rgb(224, 216, 216);
      height: 30px;
      border-radius: 5px;
      border: solid 1px rgb(185, 169, 169);
      cursor: pointer;
      font-weight: bold;

}

.search:hover{
      background-color: rgb(185, 169, 169);
}

.met{
      margin-top: 5%;
}

